.st-container {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 34px;
	top: 0;
	left: 0;
	font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

.st-container > input,
.st-container > a {
	position: fixed;
	top: 0px;
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
}

.st-container > input {
	opacity: 0;
	z-index: 1000;
}

.st-container > a {
	z-index: 10;
	font-weight: 700;
	width: 100%;
	background-color: #000;
	color: #fff;
	padding-left: 40px;
	/*text-align: center;*/
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.st-container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 34px;
	background: #000;
	z-index: 9;
	bottom: 0;
}

#st-control-1, #st-control-1 + a {
	left: 0;
	min-width: 230px;
}

#st-control-2, #st-control-2 + a {
	left: 12%;
	min-width: 300px;
}

#st-control-3, #st-control-3 + a {
	left: 29%;
	min-width: 220px;
}

#st-control-4, #st-control-4 + a {
	left: 41.8%;
	min-width: 210px;
}

#st-control-5, #st-control-5 + a {
	left: 53.6%;
	min-width: 190px;
}

#st-control-6, #st-control-6 + a {
	left: 64.5%;
	min-width: 200px;
}
#st-control-7, #st-control-7 + a {
	left: 76%;
	min-width: 210px;
}
#st-control-8, #st-control-8 + a {
	left: 87.5%;
	margin-left: 3px;
	min-width: 230px;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
	background: #6A1D1D;
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
	bottom: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #000;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.st-container > input:hover + a{
	background: #000;
}

.st-container > input:hover + a:after {
	border-bottom-color: #000;
}

/*------------------------------------------------------------------------------------------------ MENU END ------------------------*/
/*------------------------------------------------------------------------------------------------ BODY ---- PANEL --- BEGIN ------------------------*/

.st-scroll,
.st-panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.st-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.st-panel{
	background: #fff;
	background-image: url(img/white_carbonfiber.png);
	background-repeat:repeat;
	background-size:100%;
	overflow: hidden;
} 

.st-panel-right{
	background: #000;
	background-repeat:no-repeat;
	background-size:100%;
	overflow: hidden;
} 

#st-control-1:checked ~ .st-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}

#st-control-6:checked ~ .st-scroll {
	-webkit-transform: translateY(-500%);
	-moz-transform: translateY(-500%);
	-o-transform: translateY(-500%);
	-ms-transform: translateY(-500%);
	transform: translateY(-500%);
}

#st-control-7:checked ~ .st-scroll {
	-webkit-transform: translateY(-600%);
	-moz-transform: translateY(-600%);
	-o-transform: translateY(-600%);
	-ms-transform: translateY(-600%);
	transform: translateY(-600%);
}

#st-control-8:checked ~ .st-scroll {
	-webkit-transform: translateY(-700%);
	-moz-transform: translateY(-700%);
	-o-transform: translateY(-700%);
	-ms-transform: translateY(-700%);
	transform: translateY(-700%);
}


/* Content elements */

.st-deco{
	width: 140px;
	height: 140px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -100px;
	background: #fff;
	border-style:solid;
	border-width:2px;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
    content: url(img/Logo.png);
    content-witdh: 40px;
    content-height: 40px;
    font-family: 'RaphaelIcons';
    color: #000;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: fixed;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 90px;
	top: -35%; //changer la place du logo
	bottom: 25%;
	right: -15%;
	left: -35%;
	-webkit-transform: rotate(-45deg) translateY(25%);
	-moz-transform: rotate(-45deg) translateY(25%);
	-o-transform: rotate(-45deg) translateY(25%);
	-ms-transform: rotate(-45deg) translateY(25%);
	transform: rotate(-45deg) translateY(25%);
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2,
#st-control-6:checked ~ .st-scroll #st-panel-6 h2,
#st-control-7:checked ~ .st-scroll #st-panel-7 h2,
#st-control-8:checked ~ .st-scroll #st-panel-8 h2{
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% { 
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.panel-right{
	position: absolute;
	z-index: 2;
	padding: 0;
	width: 40%;
	left: 53%;
	top: 17%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}

.st-panel p {
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #000;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p,
#st-control-6:checked ~ .st-scroll #st-panel-6 p,
#st-control-7:checked ~ .st-scroll #st-panel-7 p,
#st-control-8:checked ~ .st-scroll #st-panel-8 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

/*------------------------------------------------------------------------------------------------ BODY ---- PANEL --- END ------------------------*/
/*------------------------------------------------------------------------------------------------ BODY ---- CIRCLE PICTURE EFFECT --- BEGIN ------------------------*/

.wrapper{
    font-family: Verdana;
    font-size:11px;
    position:absolute;
    top:18%;
    left:10%;
}
.images img{
    display:none;
    position:absolute;
    left:6px;
    top:6px;
}
.circleBig{
    position:absolute;
    top:0px;
    left:0px;
    width:418px;
    height:418px;
    background:transparent url(img/circlebg.png) no-repeat top left;
}
.menu{
    position:absolute;
    width:101px;
    height:74px;
    top: 63%;
    left:65%;
    z-index:999;
}
a.about, a.contact{
    float:left;
    clear:both;
    height:23px;
    margin-bottom:10px;
    width:105px;
    text-indent:-2000000px;
    opacity:0.8;
    background:transparent url(img/menu.png) no-repeat top left;
}

a.contact{
    width:88px;
    background-position:-199px 0px;
	/*background:transparent url(img/menu_test.png) no-repeat top left;
	background-position:-110px 0px;*/
}
a.about:hover, a.contact:hover{
    opacity:1.0;
}

/*------------------------------------------------------------------------------------------------ BODY ---- CIRCLE PICTURE EFFECT --- END ------------------------*/